<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
     <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/about-section.css">
    <link rel="stylesheet" href="/css/about-card.css">
    <link rel="stylesheet" href="/css/about-vision.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
     <%- include("../components/Header.ejs") %>
    <%- include("../components/about-section.ejs") %>
    <%- include("../components/about-card.ejs") %>
    <%- include("../components/about-vision.ejs") %>
    <%- include("../components/whatsappIcon.ejs") %>
      <%- include("../components/Footer.ejs") %>
</body>
</html>