<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
     <link rel="stylesheet" href="/css/course.css">
     <link rel="stylesheet" href="/css/gatimaan.css">
     <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
   <%- include("../components/Header.ejs") %>

    <main style="margin-top: 0;">
        <!-- <h1>Courses</h1> -->
        <%- include("../components/courses.ejs") %>
        <%- include("../components/gatimaan.ejs") %>
    </main>
     <%- include("../components/whatsappIcon.ejs") %>
    <%- include("../components/Footer.ejs") %>
</body>
</html>